colorama~=0.4.6
get-key
key_stroke
pyfiglet~=1.0.3
pyperclip~=1.9.0
setuptools~=80.9.0
pytest~=8.4.1
pyttsx3~=2.99
pyparsing~=3.2.3
key_stroke
typing_extensions
sevseg~=0.1.0
caesarcode~=0.1.0
key_stroke~=1.0.1
colterm~=0.1
typing_extensions~=4.14.1